<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="imgChili" type="System.Configuration.NameValueSectionHandler" />
    <section name="ImgRock" type="System.Configuration.NameValueSectionHandler" />
    <section name="PixSense" type="System.Configuration.NameValueSectionHandler" />
    <section name="ImageTwist" type="System.Configuration.NameValueSectionHandler" />
    <section name="Mega" type="System.Configuration.NameValueSectionHandler" />
    <section name="Rapidgator" type="System.Configuration.NameValueSectionHandler" />
    <section name="UploadGIG" type="System.Configuration.NameValueSectionHandler" />
    <section name="Datafile" type="System.Configuration.NameValueSectionHandler" />
    <section name="Ouo" type="System.Configuration.NameValueSectionHandler" />
    <section name="ShinkIn" type="System.Configuration.NameValueSectionHandler" />
    <section name="ShorteSt" type="System.Configuration.NameValueSectionHandler" />
    <section name="EraAc" type="System.Configuration.NameValueSectionHandler" />
    <section name="oURL" type="System.Configuration.NameValueSectionHandler" />
    <section name="Blogger" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <imgChili>
    <add key="Enabled" value="true" />
    <add key="Url" value="http://imgchili.net" />
    <add key="LoginPath" value="/users.php?act=login-d" />
    <add key="User" value="ivsTest" />
    <add key="Password" value="654321" />
  </imgChili>
  <ImgRock>
    <add key="Enabled" value="true" />
    <add key="Url" value="http://imgrock.co" />
    <add key="LoginPath" value="" />
    <add key="User" value="ivsTest" />
    <add key="Password" value="654321" />
  </ImgRock>
  <PixSense>
    <add key="Enabled" value="true" />
    <add key="Url" value="http://www.imgvip.net/" />
    <add key="LoginPath" value="" />
    <add key="User" value="ivsTest" />
    <add key="Password" value="654321" />
  </PixSense>
  <ImageTwist>
    <add key="Enabled" value="false" />
    <add key="Url" value="http://imagetwist.com/" />
    <add key="LoginPath" value="" />
    <add key="User" value="ivsTest" />
    <add key="Password" value="654321" />
  </ImageTwist>
  <Mega>
    <add key="Enabled" value="true" />
    <add key="User" value="whnqgqerk@highmails.com" />
    <add key="Password" value="2wsx3EDC" />
  </Mega>
  <Rapidgator>
    <add key="Enabled" value="true" />
    <add key="User" value="ivsTest" />
    <add key="Password" value="654321" />
  </Rapidgator>
  <UploadGIG>
    <add key="Enabled" value="false" />
    <add key="User" value="ivsTest" />
    <add key="Password" value="654321" />
  </UploadGIG>
  <Datafile>
    <add key="Enabled" value="false" />
    <add key="User" value="ivsTest" />
    <add key="Password" value="654321" />
  </Datafile>
  <ShorteSt>
    <add key="Enabled" value="false" />
    <add key="ApiKey" value="5a4c6fe40bd647013ff2dadafb0668ba" />
    <add key="ApiUrl" value="https://api.shorte.st/v1/data/url" />
  </ShorteSt>
  <Ouo>
    <add key="Enabled" value="true" />  
  </Ouo>
  <ShinkIn>
    <add key="Enabled" value="true" />
  </ShinkIn>
  <EraAc>
    <add key="Enabled" value="true" />
  </EraAc>
  <oURL>
    <add key="Enabled" value="true" />
  </oURL>
  <Blogger>
    <add key="BlogId" value="" />
    <add key="LinksBlogId" value="" />
    <add key="PostInterval" value="7" />
  </Blogger>
  <appSettings>
    <add key="UploadFolder" value="D:\Upload;E:\Upload;F:\Upload" />
    <add key="RarExecutable" value="C:\Program Files\WinRAR\rar.exe" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="webkit" />
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>