<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="imgChili" type="System.Configuration.NameValueSectionHandler" />
    <section name="ImgSpice" type="System.Configuration.NameValueSectionHandler" />
    <section name="ImgMega" type="System.Configuration.NameValueSectionHandler" />
    <section name="ImgDrive" type="System.Configuration.NameValueSectionHandler" />
    <section name="ImgRock" type="System.Configuration.NameValueSectionHandler" />
    <section name="Mega" type="System.Configuration.NameValueSectionHandler" />
    <section name="Rapidgator" type="System.Configuration.NameValueSectionHandler" />
    <section name="Uploadable" type="System.Configuration.NameValueSectionHandler" />
    <section name="Binbox" type="System.Configuration.NameValueSectionHandler" />
    <section name="Linkbucks" type="System.Configuration.NameValueSectionHandler" />
    <section name="Blogger" type="System.Configuration.NameValueSectionHandler" />
    <section name="Picasa" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <imgChili>
    <add key="Enabled" value="true" />
    <add key="Url" value="http://imgchili.net" />
    <add key="LoginPath" value="/users.php?act=login-d" />
    <add key="User" value="nanamiyusa" />
    <add key="Password" value="wdt6p7e3" />
  </imgChili>
  <ImgSpice>
    <add key="Enabled" value="false" />
    <add key="Url" value="http://www.imgspice.com" />
    <add key="LoginPath" value="" />
    <add key="User" value="nanamiyusa" />
    <add key="Password" value="wdt6p7e3" />
  </ImgSpice>
  <ImgMega>
    <add key="Enabled" value="true" />
    <add key="Url" value="http://imgmega.com" />
    <add key="LoginPath" value="" />
    <add key="User" value="nanamiyusa" />
    <add key="Password" value="wdt6p7e3" />
  </ImgMega>
  <ImgDrive>
    <add key="Enabled" value="true" />
    <add key="Url" value="http://imgdrive.co" />
    <add key="LoginPath" value="" />
    <add key="User" value="nanamiyusa" />
    <add key="Password" value="wdt6p7e3" />
  </ImgDrive>
  <ImgRock>
    <add key="Enabled" value="true" />
    <add key="Url" value="http://imgrock.net" />
    <add key="LoginPath" value="" />
    <add key="User" value="nanamiyusa" />
    <add key="Password" value="wdt6p7e3" />
  </ImgRock>
  <Mega>
    <add key="Enabled" value="true" />
    <add key="User" value="buveyarox@postonline.me" />
    <add key="Password" value="2wsx3EDC" />
  </Mega>
  <Rapidgator>
    <add key="Enabled" value="true" />
    <add key="User" value="epcjav3@gmail.com" />
    <add key="Password" value="wdt6p7e3" />
  </Rapidgator>
  <Uploadable>
    <add key="Enabled" value="false" />
    <add key="User" value="nanamiyusa" />
    <add key="Password" value="wdt6p7e3mp3" />
  </Uploadable>
  <Binbox>
    <add key="Enabled" value="true" />
    <add key="ApiUrl" value="http://sgetwasghw.binbox.io/" />
    <add key="BackupApiUrl" value="http://sdgtg31.binbox.io/" />
    <add key="RestoreApiUrl" value="http://sgetwasghw.binbox.io/" />
  </Binbox>
  <Linkbucks>
    <add key="Enabled" value="true" />
    <add key="User" value="nanamiyusa" />
    <add key="ApiPassword" value="79056b663dc2419b" />
    <add key="SingleApiUrl" value="https://www.linkbucks.com/api/createLink/single" />
  </Linkbucks>
  <Blogger>
    <add key="User" value="epcjav4@gmail.com" />
    <add key="Password" value="wdt6p7e3" />
    <add key="BlogId" value="1528277111906354927" />
    <add key="PostInterval" value="7" />
  </Blogger>
  <Picasa>
    <add key="User" value="epcjav3@gmail.com" />
    <add key="Password" value="wdt6p7e3" />
    <add key="AlbumId" value="6136111540939301761" />
  </Picasa>
  <appSettings>
    <add key="UploadFolder" value="D:\Upload;E:\Upload;F:\Upload" />
    <add key="RarExecutable" value="C:\Program Files\WinRAR\rar.exe" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="webkit" />
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>